@charset "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	background-color: whitesmoke;
	font-family: verdana, sans;
}

.header {
	width: 100%;
	height: 100px;
	margin: 0px;
	background-color: #6c6c6c;
	color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

div.header-logo {
	width: 300px;
	height: 90px;
	margin: 5px;
	margin-right: auto;
}

img.header-logo {
	width: 90px;
	height: 90px;
}

.header-name {
	
}

.header-login {
	width: 300px;
	height: 50px;
	margin: 10px;
	margin-left: auto;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	color: white;
	text-decoration: none;
}

.header-login a {
	color: white;
	text-decoration: none;
}

.menu {
	width: 50%;
	margin: 20px auto;
	color: white;
	background-color: #6c6c6c;
}

.menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.menu li {
	height: 50px;
	width: 150px;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	line-height: 50px;
}

.menu li:hover {
	color: black;
	background-color: #cccccc;
}

.menu a {
	text-decoration: none;
	color: inherit;
}

.content-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.content {
	width: 80%;
	background-color: #cccccc;
	text-align: center;
}

.login-container {
	width: 100%;
	height: calc(100vh - 100px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-modal {
	width: 300px;
	height: 200px;
	margin: 20px;
	background-color: #cccccc;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}

.login-modal input {
	margin-top: 5px;
	margin-bottom: 10px;
}

.login-modal button {
	width: 100px;
	display: block;
	margin: 10px auto;
}

.sql-container {
	width: 100%;
	/*height: calc(100vh - 190px);*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.sqlSubmit-modal {
	min-width: 300px;
	min-height: 100px;
	margin: 20px;
	padding: 20px;
	background-color: #cccccc;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}

.sqlSubmit-modal textarea {
	margin-top: 5px;
	margin-bottom: 10px;
}

.sqlSubmit-modal button {
	width: 100px;
	display: block;
	margin: 10px auto;
}

.queryResult-page {
	width: 90vw;
	margin: 20px;
	padding: 20px;
	background-color: #cccccc;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}

table {
	margin: 10px auto;
}

table a {
	color: black;
}